.dropdownmenu {
    position: relative;
    z-index: 2;
}

.dropdownmenu > div > p {
    font-size: 15px;
    line-height: 10px;
    margin: 0px;
    padding: 16px;
}

.menu1,.menu2  {
    border-bottom: solid 1px gray;

}
.menu2,.menu3 {
    cursor: pointer;
}


.h-6 {
    width: 20px;
    position: relative;
    top: 4px
}